<div class="row">
  <div class="col-3">
    <!-- <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of countryName">
        <span style="cursor:pointer" class="badge" (click)='onClick(item)'>{{item.alpha2Code}}</span>{{item.name}}</li>
    </ul> -->
  <ul *ngFor="let country of countries">
    <li>{{country.name}}-<span><a [routerLink]="['/regions/details',country.capital]">{{country.capital}}</a></span></li>
  </ul>
</div>
  <div class="col-9">
      <router-outlet></router-outlet>
  </div>
</div>


